<section class="item" v-if="render">
    <div class="md-layout md-gutter md-alignment-center">
        <div class="md-layout-item md-medium-size-48 md-small-size-90 md-xsmall-size-100">
            <md-toolbar class="md-accent md-dense border-rounded">

                <h3 class="md-title">Question # {{ index }}</h3>
                <div class="md-toolbar-section-end">
                    <router-link :to="{name: 'Add', params: {id: item['.key']} }">
                        <md-button>
                            <md-icon class="md-dense">edit</md-icon>
                        </md-button>
                    </router-link>
                </div>
            </md-toolbar>
            <md-card>
                <md-card-content class="text">
                    {{ item.Question }}
                </md-card-content>
            </md-card>
        </div>

        <div class="md-layout-item md-medium-size-48 md-small-size-90 md-xsmall-size-100">
            <md-toolbar class="md-accent md-dense border-rounded">
                <h3 class="md-title">Choose right option</h3>
            </md-toolbar>

            <md-card>
                <md-card-content align-center>
                    <md-list v-for="Answer in item.Answers" :key="Answer.text">

                        <md-list-item class="answer-list">

                            <div class="wide-screen-responsive">
                                <md-radio v-model="answer" :value="Answer.text" :disabled="!beforeSubmit || item.isDone" />{{Answer.text}}</md-radio>
                                <md-icon v-if="(!beforeSubmit || item.isDone) && Answer.right">check</md-icon>
                                <md-icon v-if="(!beforeSubmit && answer === Answer.text && answer !== item.Answers.find(answer => answer.right).text) || (item.isDone && item.wrongAnswer === Answer.text)">close</md-icon>
                            </div>


                            <div class="narrow-screen-responsive">
                                <button :class="{'right-class': item.isDone && Answer.right , 
                                'wrong-class': (item.isDone && answer === Answer.text && answer !== item.Answers.find(answer => answer.right).text),
                                'true-class': (item.isDone && Answer.right && answer!= Answer.text)}" :disabled="!beforeSubmit || item.isDone" @click="checkButtonAnswer(Answer.text)">{{Answer.text}}</button>
                            </div>

                        </md-list-item>
                    </md-list>

                    <div class="md-toolbar-section-end answer-submit wide-screen-responsive">
                        <md-button class="md-raised" :disabled="!answer" v-bind:class="[beforeSubmit ? 'md-secondary' : 'md-accent']" @click="checkSolution()">{{buttonText}}
                        </md-button>
                    </div>

                    <div class="md-toolbar-section-end answer-submit narrow-screen-responsive" v-if='!beforeAnswer'>
                        <md-button class="md-raised" :disabled="!answer" v-bind:class="[beforeSubmit ? 'md-secondary' : 'md-accent']" @click="checkButtonAnswer()">Next
                        </md-button>
                    </div>
                </md-card-content>
            </md-card>



        </div>
    </div>
</section>